{% extends 'libros/base.html' %}

{% block title %}{% if view.object.pk %}Editar Libro{% else %}Nuevo Libro{% endif %}{% endblock %}

{% block content %}
<h1 class="mb-4">{% if view.object.pk %}Editar Libro{% else %}Nuevo Libro{% endif %}</h1>

<form method="post" class="card p-4 shadow-sm bg-white">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">💾 Guardar</button>
    <a href="{% url 'lista_libros' %}" class="btn btn-secondary">↩ Volver</a>
</form>
{% endblock %}
